.new_session
  .new_title 
    %h2.new_title-name Sign Up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field_new
        = f.label :Nickname,class:'new_labelname'
        %br/
        = f.text_field :nickname, autofocus: true, autocomplete: "nickname",class:'new_nickname'
      .field_new
        = f.label :Email,class:'new_labelname'
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email",class:'new_email'
      .field_new
        = f.label :Password,class:'new_labelname'
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password",class:'new_password'
      .field_new
        = f.label :Password_Confirmation,class:'new_labelname'
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password",class:'new_password'
      .image_field-new
        = f.label :'Icon(Not essential)',class:'new_labelname'
        %br/
        = image_tag asset_path('new_baby.png'),class:'icon_image',size:"120x120"
        = f.file_field :icon, autocomplete: "iconimage",class:'icon_image-form'
        .icon_imagebtn File
      .dammy-area
        .actions_new
          = f.submit "Sign Up",class:'signup_btn'
= render "devise/shared/links"
= image_tag asset_path('newuser_baby.jpeg'),class:'newuser_image'
-# a