= render 'posts/header'
%h1.showpost_title
  = link_to 'Baby BLOGs', root_path,class:'newpost_titlelogo'
.dammy_block
.user_show
  = image_tag asset_path('show_header1.jpeg'),class:'user_show-header',size:'1050x250'
  .user_show-box
    .user_show-boxarea
      .user_iconarea
        - if @user.icon.present?
          = image_tag @user.icon.url ,class:'usershow_icon',size:'120x120'
        - else
          = image_tag asset_path('new_baby.png'),class:'usershow_icon',size:'120x120'
      .user_follow
        .user_follow-box
          .follow_btn フォローする
      .user_setting
        %i.fas.fa-bars
.show_info
  .show_info-left
    .show_info-leftname
      = @user.nickname
    .show_info-leftfollow
      100 フォロー中  200 フォロワー 
    .show_info-leftarticle
      = "記事数 : #{@item.length}"
  .show_info-right

.show_article
  = render 'users/blog'
= render 'posts/footer'