= render 'posts/header'
%h1.showpost_title
  = link_to 'Baby BLOGs', root_path,class:'newpost_titlelogo'
.dammy_block
= render 'users/usershow'
.show_info
  .show_info-left
    .show_info-leftname
      = @user.nickname
    .show_info-leftfollow
      100 フォロー中  200 フォロワー 
    .show_info-leftarticle
      = "記事数 : #{@post.length}"
  .show_info-right
    .show_info-rightintroduction
      Introduction
      .show_info-rightintroduction-area
        = simple_format(@user.introduction)
.show_article
  = render 'users/blog'
= render 'posts/footer'