%footer.main_footer
  .main_footer-left
    = link_to 'Baby BLOGs', root_path,class:'footer_title'
    .footer_sns
      EXPAND → 
      = link_to '#' do
        %i.fab.fa-twitter
      = link_to '#' do
        %i.fab.fa-facebook-square
  .main_footer-center
    %ul.menu
      %li.menu_list
        = link_to 'HOME', '#',class:'menu_list-btn'
      %li.menu_list
        = link_to 'Baby BLOGsとは?', '#',class:'menu_list-btn'
      %li.menu_list
        = link_to 'よくある質問', '#',class:'menu_list-btn'
      %li.menu_list
        = link_to 'お知らせ', '#',class:'menu_list-btn'
      %li.menu_list
        = link_to 'お問い合わせ', '#',class:'menu_list-btn'
  .main_footer-right
    %ul.menu
      %li.menu_list
        = link_to 'ランキング', '#',class:'menu_list-btn'
      %li.menu_list
        = link_to 'プライバシーポリシー', '#',class:'menu_list-btn'
      %li.menu_list
        = link_to 'SNS連携', '#',class:'menu_list-btn'
      %li.menu_list
        = link_to 'メルマガ', '#',class:'menu_list-btn'
      %li.menu_list
        = link_to 'その他', '#',class:'menu_list-btn'
.main_footer-bottom
  = "Copyright (C) #{@d.strftime("%Y")} Baby BLOGs All Rights Reserved."