.ranking_content
  .ranking_content-box
    .ranking_name ACCESS RANKING
    - @ranking.each_with_index do |r, i|
      .ranking_box
        .ranking_image-fakebox
          .ranking_number
            = i + 1
        = link_to (image_tag r.image.url,class:'ranking_image',size: '300x185'),post_path(r.id)
        .ranking_title
          = r.title
        .ranking_count
          = "#{r.impressions_count} view"