.show_main
  .show_main-article
  - if @post.image.present?
    .show_main-article-image
      = image_tag @post.image.url, class:'show_image'
      .img_article
        .img_article-title
          = @post.title
        .img_article-created
          = @post.created_at.strftime("%Y.%m.%d %H:%M")
        .img_article-view
          = "#{@post.impressions_count} view"
      - if user_signed_in? && current_user.id == @post.user_id
        = link_to '編集', edit_post_path(@post.id),method: :get,class:'edit_btn'
        = link_to '削除',post_path(@post.id),method: :delete, class:'delete_btn'
      - else
        = render 'likes/likebtn'
    .show_main-article-content
      %nav.article_sns
        %ul.article_sns-box
          = link_to '#' do
            %li.sns_icon-twitter
              %i.fab.fa-twitter
              ツイート
          = link_to '#' do
            %li.sns_icon-facebook
              %i.fab.fa-facebook-square
              シェア
      .article_border
      .article
        .article_text
          = simple_format(@post.text)
        .article_user
          = link_to @post.user.nickname, '#'
      .article_border
      %nav.article_sns
        %ul.article_sns-box
          = link_to '#' do
            %li.sns_icon-twitter
              %i.fab.fa-twitter
              ツイート
          = link_to '#' do
            %li.sns_icon-facebook
              %i.fab.fa-facebook-square
              シェア
  - else
    .show_main-article-image
      = image_tag asset_path('noimage.jpeg'),size:'850x525', class:'show_image'
      .img_article
        .img_article-title
          = @post.title
        .img_article-created
          = @post.created_at.strftime("%Y.%m.%d %H:%M")
        .img_article-view
          = "#{@post.impressions_count} view"
      - if user_signed_in? && current_user.id == @post.user_id
        = link_to '編集', edit_post_path(@post.id),method: :get,class:'edit_btn'
        = link_to '削除',post_path(@post.id), method: :delete, class:'delete_btn'
      - else
        = button_to 'いいね'
    .show_main-article-content
      %nav.article_sns
        %ul.article_sns-box
          = link_to '#' do
            %li.sns_icon-twitter
              %i.fab.fa-twitter
              ツイート
          = link_to '#' do
            %li.sns_icon-facebook
              %i.fab.fa-facebook-square
              シェア
      .article_border
      .article
        .article_text
          = simple_format(@post.text)
        .article_user
          = link_to @post.user.nickname, '#'
      .article_border
      %nav.article_sns
        %ul.article_sns-box
          = link_to '#' do
            %li.sns_icon-twitter
              %i.fab.fa-twitter
              ツイート
          = link_to '#' do
            %li.sns_icon-facebook
              %i.fab.fa-facebook-square
              シェア