= render 'posts/loading'
.containe
  %header.top
    .top_logo
      .top_logo-name Baby BLOGs
    %figure.top_logoarea
      = image_tag asset_path('top.jpeg'), class: "top_logoarea-image"
  .fake
  .main
    = render 'posts/header'
    = render 'posts/blog'
    = render 'posts/footer'
  .top_scroll
    .top_scroll-btn
      %i.fas.fa-angle-up
