.container
  %header.top
    .top_logo
      .top_logo-name Baby BLOGs
    %figure.top_logoarea
      = image_tag asset_path('top.jpeg'), class: "top_logoarea-image"
  .fake
  .main
    %header.main_header
      %h1.main_header-title
        = link_to 'Baby BLOGs', "#",class:'main_header-titlelogo'
      .main_header-link
        %nav.bnav
          %ul.bnav-options
            %li.bnav_items
              = link_to 'NEW',class:'new'
            %li.bnav_items
              = link_to 'MYBLOG',class:'myblog'
            %li.bnav_items
              = link_to 'INFO',class:'info'
            %li.bnav_items
              = link_to 'LOGIN',class:'login'

    .main_content